<!DOCTYPE html>
<html>
<head>
	<title>DRMS</title>
	<link rel="shortcut icon" href="/logo.ico" />
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/mycss/campinfo.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/myjs/campinfo.js"></script>

</head>
<nav class="navbar navbar-expand-lg navbar-inverse bg-dark fixed-top" >
  <a class="navbar-brand" href="/"><img src="/logo.png" style="display: inline-block;height:40px;width:40px;">DRMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<body>
	<br><br>
	<div class="container">
		<br><br>
			<h3>Resource Allocation form for <%= camp_id %></h3><hr><br><br>
      <h5>Pending Resource Requests</h5>
				<form method="POST" action=<%="/virtualcr/allocate/"+camp_id%> >
          <table class="table table-striped">
              <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">R_id</th>
                      <th scope="col">R_Name</th>
                      <th scope="col">Category</th>
                      
                      <th scope = "col">Imp(10)</th>
                      <th scope="col">Request</th>
                      <th scope="col">Allocate</th>
                    </tr>
              </thead>
              <tbody>
                  <% for (var i = 0; i <requested.length; i++) { -%>
                    
                    <% if (Number(requested[i].quantity)>0) { -%>
                      <tr>
                        <th scope="row"><%= i+1%></th>
                        <td><%=requested[i].Rid%></td>
                        <td><%=requested[i].name%></td>
                        <td><%=requested[i].category%></td>
                        <td><%=requested[i].imp%></td>
                        <td><%=requested[i].quantity%></td>
                        <td><input type="number" value="0"  max=<%=requested[i].quantity%> name=<%=requested[i].Rid%> ></td>
                      </tr>
                    <% } -%>
                      
                  
                    
                  <% } -%>
                </tbody>
            </table>
            <% if (requested.length==0) { -%>
              <h6>No Resource request has been made yet.</h5>
            <% } -%>
		  			
				  	<br>
				  	<button class="btn btn-success btn-medium" type="submit">Allocate Resources</button>
				  	<a href="/" class="btn btn-warning btn-medium">Reset Values</a>
				  	<br><br><br>
			  	</form>
        <h5>Allocated Resources</h5>
        <hr>
        <table class="table table-striped">
              <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">R_id</th>
                      <th scope="col">R_Name</th>
                      <th scope="col">Category</th>
                      
                      <th scope = "col">Imp(10)</th>
                      <th scope="col">Allocated Qty.</th>
                      
                    </tr>
              </thead>
              <tbody>
                  <% for (var i = 0; i <allocated.length; i++) { -%>
                    
                  
                      <tr>
                        <th scope="row"><%= i+1%></th>
                        <td><%=allocated[i].Rid%></td>
                        <td><%=allocated[i].name%></td>
                        <td><%=allocated[i].category%></td>
                        <td><%=allocated[i].imp%></td>
                        <td><%=allocated[i].quantity%></td>
                        
                      </tr>
                  
                    
                  <% } -%>
                </tbody>
            </table>
            <% if (allocated.length==0) { -%>
              <h5>No Resources have been allocated to this camp yet.</h5>
              
              
            <% } -%>
            <br><br><br><br>
	</div>
</body>
