<!DOCTYPE html>
<html>
<head>
	<title>DRMS</title>

	<link rel="shortcut icon" href="/logo.ico" />
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/mycss/home.css	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-inverse bg-dark fixed-top" >
  <a class="navbar-brand" href="/"><img src="/logo.png" style="display: inline-block;height:40px;width:40px;">DRMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<body>

	<br><br><br><br>
	<div class="container" style="text-align: center; " >
		<h2>Survivor Query Page</h2>
		<hr>
		<div class="container" style="width: 60%;">
			<form action = "/query" method="POST">
				<h5>Search Person</h5>
					<hr>
				<div class="form-row">
				    <div class="form-group col-md-6">
				      <label for="inputEmail4">first Name</label>
				      <input type="text" class="form-control" id="inputEmail4" placeholder="First Name" name="fname" required>
				    </div>
				    <div class="form-group col-md-6">
				      <label for="inputPassword4">Second Name</label>
				      <input type="text" class="form-control" id="inputPassword4" placeholder="Second Name" name="sname" required>
				    </div>
				    <div class="form-group col-md-6">
				      <label for="inputEmail4">Sex</label>
				      <select name = "sex" class="form-control" id="inputEmail4" required >
								<option value = "other">--SELECT Gender--</option>
								<option value = "male">Male</option>
								<option value = "female">female</option>
								<option value = "other">Others</option>
					   </select>
				    </div>
				    <div class="form-group col-md-6">
				      <label for="inputPassword4">Age</label>
				      <input type="number" class="form-control" id="inputPassword4" placeholder="Age" name="age" required>
				    
				 	</div>
				 	
					    <div class="form-group col-sm-6">
					      <label for="inputCity">City</label>
					      <input type="text" class="form-control" id="inputCity" name="city" required>
					    </div>
					    <div class="form-group col-sm-4">
					      <label for="inputState">State</label>
					      <input type="text" class="form-control" id="inputCity" name="state" required>
					    </div>
					    <div class="form-group col-sm-2">
					      <label for="inputZip">Zip</label>
					      <input type="text" class="form-control" id="inputZip" required>
					    </div>
					  
					  
					  
					  
				
					</div>
					<button type="submit" class="btn btn-primary">Search</button>
					<hr>
					<p>*If you are not able to find the person in survivor list register a missing complain <a href="/query/notfound">here.</a></p>
				
			</form>
		</div>
		<hr>
		<br>
		 <% if (flag==1) { -%>
		 	<% if (survivor.length>0) { -%>
		 		<h5><%=survivor.length%> result(s) found for above search.</h5>
			 <% } else { -%>
			 	<h6>No survivor record with above details found .Please try filtering survivor list or file a missing complain in order to get notified of any new entry made with above details.</h6>
			 <% } -%>
		 	
		 <% } else { -%>
		 	
		 <% } -%>
		<h5>Camp Survivor List</h5>
		<hr>
		<div class="filter">
			<form action=<%="/query/filter"%> method="POST">
				<strong>Filter By&nbsp;&nbsp;&nbsp; </strong> 
				Sex :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<select name = "gender">
					<option value = "0">--SELECT Gender--</option>
					<option value = "1">Male</option>
					<option value = "2">female</option>
				</select>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 Age :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 <select name = "age">
					<option value = "0">--SELECT Age--</option>
					<option value = "1">10-20 yrs</option>
					<option value="2">20-30 yrs</option>
					<option value="3">30-40 yrs</option>
					<option value="4">40-50 yrs</option>
					<option value="5">50-60 yrs</option>
					<option value="6">60+ yrs</option>
				</select>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 From :&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="city"  placeholder="city">
				 &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-success btn-sm" type="submit">Filter</button>
				<br><br>
		</div>
		
		<table class="table table-bordered">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">S_id</th>
		      <th scope="col">Name</th>
		      <th scope="col">Age</th>
		      <th scope="col">Sex</th>
		      <th scope="col">From</th>
		      <th scope="col">Alive</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% for (var i = 0; i < survivor.length; i++) { -%>
		  		<tr>
			      <th scope="row"><%=i+1%></th>
			      <td><%=survivor[i].survivor_id%></td>
			      <td><%=survivor[i].fname%></td>
			      <td><%=survivor[i].age%></td>
			      <td><%=survivor[i].sex%></td>
			      <td><%=survivor[i].city%></td>
			      <td>True</td>
			    </tr>
		  	<% } -%>
		    
		  </tbody>
		</table>
	</div>
	</div>
<br><br><br><br>
	
</body>
</html>